.card {
  width: 24%;
  margin: 0 .5%;
}

.card:hover {
  cursor: default;
  transform: translate(100px, -50px) rotate(5deg);
  z-index: 99;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
}

.card-text:first-child {
  font-weight: bold;
  font-size: 14px;
}

.card-text:last-child {
  text-align: left;
}