.card {
  width: 24%;
  margin: 0 .5%;
}

.card-header {
  font-size: 20px;
}

.card-text:first-child {
  font-size: 14px;
}

.editor {
  bottom: 5px;
  right: 5px;
  display: none;
}

.card:hover .editor {
  display: block;
}

.edit, .trash {
  border: 1px solid rgb(216, 216, 216);
  color: rgb(216, 216, 216);
  padding: 8px;
  margin: 3px;
  border-radius: 5px;
}

.edit:hover, .trash:hover {
  border-color: gray;
  color: gray;
  cursor: pointer;
}